@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .btn {
    @apply inline-flex items-center gap-2 p-4 rounded-md font-medium font-title text-base transition-colors duration-300 ease-in-out;
  }
  .btn--primary {
    @apply text-coral border-coral hover:bg-coral hover:text-dark border-2;
  }
  .btn--small {
    @apply text-sm p-3;
  }
  .btn--large {
    @apply text-lg p-6;
  }
  .btn--secondary {
    @apply text-white bg-dark hover:bg-coral hover:text-dark;
  }

  .callout {
    @apply rounded-lg border-2 border-dashed border-papya bg-papaya bg-opacity-10 p-8;
  }
}

@layer utilities {
  .bg-hero {
    background-size: 30% 80%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
  .bg-hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url('/bg.svg');
    z-index: -1;
    transform-origin: 80%;
    animation: pulse 20s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(1.15) rotate(-10deg);
  }
}